@model GoWheels.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateAverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateAverage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constructor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constructor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometrage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilometrage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specifications)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Specifications.Count != 0)
            {
                <ul class="list-unstyled mb-0">
                    @foreach (var spec in Model.Specifications)
                    {
                        <li><strong>@spec.Key:</strong> @spec.Value</li>
                    }
                </ul>
            }
            else
            {
                <span class="text-muted">No specifications provided.</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>
        @foreach (var postImage in Model.PostImages)
        {
            <div class="col-md-4 d-flex justify-content-center">
                @if (Model.PostImages.Count > 0)
                {
                    <img src="@postImage.ImageUrl"
                         alt="@Model.ModelName Image"
                         class="img-fluid rounded"
                         style="max-height: 300px; object-fit: cover;"/>
                }
                else
                {
                    <div class="d-flex align-items-center justify-content-center bg-light border rounded"
                         style="width: 100%; max-width: 250px; height: 300px;">
                        <span class="text-muted">No Image</span>
                    </div>
                }
            </div>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
